@font-face {
  font-family: 'KodeMono';
  src: url(./KodeMono-Regular.woff2) format(woff2);
  font-weight: 400;
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

html {
  background-image: url('./palm-leaf.svg');
  background-size: 11%;
  background-color: rgb(235 161 160 / 0.1);
  font-size: 24px;
  font-family: 'KodeMono', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(90deg,
      rgba(235, 161, 160, 0.3) 0%,
      rgba(211, 139, 153, 0.3) 50%,
      rgba(203, 131, 152, 0.3) 100%);
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #11EEE8;
  border-radius: 20px;
}

.calculator__screen {
  display: flex;
  justify-content: end;
  align-items: end;
  min-height: 125px;
  padding: 0 20px 10px 0;
  overflow: auto;
  background-color: #11EEE8;
  border-radius: 20px 20px 0 0;
  font-size: 32px;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 16px;
  background-color: #10DDD8;
  border-radius: 20px;
}

.calculator__button {
  height: 64px;
  aspect-ratio: 1;
  border-radius: 20%;
  text-shadow: 0 0 40px #0155B5;;
}

.calculator__button:active {
  background-color: #10DDD8;
  filter: brightness(80%);
}

.calculator__button-number {
  color: #F2F6CC;
}

.calculator__button-action {
  color: #0155B5;
}

#clear {
  color: #F90808;
}
